USE [master]
GO
/****** Objet : Database [WpfBasic] Date de script : 17/08/2026 13:00:08 ******/
CREATE DATABASE [WpfBasic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WpfBasic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WpfBasic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WpfBasic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WpfBasic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WpfBasic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WpfBasic]
GO
/****** Objet : Table [dbo].[consultation] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultation](
	[idConsultation] [varchar](100) NOT NULL,
	[idDocteur] [varchar](100) NULL,
	[idRendezVous] [varchar](100) NULL,
	[idDossier] [varchar](100) NULL,
	[motif] [varchar](100) NULL,
	[diagnostic] [varchar](255) NULL,
	[observation] [varchar](255) NULL,
	[conclusion] [varchar](255) NULL,
	[dateConsultation] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idConsultation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[docteur] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docteur](
	[idDocteur] [varchar](100) NOT NULL,
	[nom] [varchar](255) NULL,
	[prenom] [varchar](255) NULL,
	[specialite] [varchar](255) NULL,
	[telephone] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[sexe] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDocteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[dossierMedical] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dossierMedical](
	[idDossier] [varchar](100) NOT NULL,
	[idPatient] [varchar](100) NULL,
	[dateCreation] [date] NULL,
	[allergy] [varchar](255) NULL,
	[antecedentsMedicaux] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDossier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[facture] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facture](
	[idFacture] [varchar](20) NOT NULL,
	[idPatient] [varchar](100) NOT NULL,
	[service] [nvarchar](100) NOT NULL,
	[montant] [decimal](18, 2) NOT NULL,
	[dateFacture] [date] NOT NULL,
	[statut] [nvarchar](20) NOT NULL,
	[idConsultation] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idFacture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[lignePrescription] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lignePrescription](
	[idLigne] [varchar](100) NULL,
	[idPrescription] [varchar](100) NULL,
	[nomMedicament] [varchar](255) NULL,
	[posologie] [varchar](255) NULL,
	[quantite] [int] NULL,
	[dureeTraitement] [int] NULL,
	[instructions] [varchar](255) NULL,
	[unite] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[paiement] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paiement](
	[idPaiement] [int] IDENTITY(1,1) NOT NULL,
	[idFacture] [varchar](20) NOT NULL,
	[montantPaye] [decimal](18, 2) NOT NULL,
	[datePaiement] [datetime] NOT NULL,
	[methode] [nvarchar](30) NOT NULL,
	[note] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPaiement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[patient] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[idPatient] [varchar](100) NOT NULL,
	[nom] [varchar](255) NULL,
	[prenom] [varchar](255) NULL,
	[adresse] [varchar](255) NULL,
	[dateNaissance] [date] NULL,
	[genre] [varchar](100) NULL,
	[telephone] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[cin] [varchar](255) NULL,
	[groupeSanguin] [varchar](100) NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[idPatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[prescription] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription](
	[idPrescription] [varchar](100) NOT NULL,
	[idConsultation] [varchar](100) NULL,
	[idDocteur] [varchar](100) NULL,
	[idPatient] [varchar](100) NULL,
	[datePrescription] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPrescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[rendezVous] Date de script : 17/08/2026 13:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rendezVous](
	[idRdv] [varchar](100) NOT NULL,
	[idPatient] [varchar](100) NOT NULL,
	[idDocteur] [varchar](100) NOT NULL,
	[dateRdv] [date] NOT NULL,
	[heureRdv] [time](7) NOT NULL,
	[description] [varchar](255) NULL,
	[statut] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRdv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[paiement] ADD  DEFAULT (getdate()) FOR [datePaiement]
GO
ALTER TABLE [dbo].[facture]  WITH CHECK ADD  CONSTRAINT [FK_facture_consultation] FOREIGN KEY([idConsultation])
REFERENCES [dbo].[consultation] ([idConsultation])
GO
ALTER TABLE [dbo].[facture] CHECK CONSTRAINT [FK_facture_consultation]
GO
ALTER TABLE [dbo].[facture]  WITH CHECK ADD  CONSTRAINT [FK_facture_patient] FOREIGN KEY([idPatient])
REFERENCES [dbo].[patient] ([idPatient])
GO
ALTER TABLE [dbo].[facture] CHECK CONSTRAINT [FK_facture_patient]
GO
ALTER TABLE [dbo].[paiement]  WITH CHECK ADD  CONSTRAINT [FK_paiement_facture] FOREIGN KEY([idFacture])
REFERENCES [dbo].[facture] ([idFacture])
GO
ALTER TABLE [dbo].[paiement] CHECK CONSTRAINT [FK_paiement_facture]
GO
ALTER TABLE [dbo].[facture]  WITH CHECK ADD CHECK  (([statut]='En retard' OR [statut]='Partielle' OR [statut]='En attente' OR [statut]='Payée'))
GO
ALTER TABLE [dbo].[paiement]  WITH CHECK ADD CHECK  (([methode]='Virement' OR [methode]='Assurance' OR [methode]='Espèces' OR [methode]='Carte'))
GO
ALTER TABLE [dbo].[rendezVous]  WITH CHECK ADD  CONSTRAINT [chk_statut] CHECK  (([statut]='termine' OR [statut]='annule' OR [statut]='confirme' OR [statut]='prevu'))
GO
ALTER TABLE [dbo].[rendezVous] CHECK CONSTRAINT [chk_statut]
GO
USE [master]
GO
